<div id="basket-menu">
  <div class="tabs">
    <a class="tab active" data-target="#selectbasket" id="menu-op-1">Select Basket&nbsp;&nbsp;&nbsp;&nbsp;></a>
    <a class="tab" data-target="#picksize" id="menu-op-2" > Pick Size&nbsp;&nbsp;&nbsp;&nbsp;> </a>
    <a class="tab" data-target="#addextras" id="menu-op-3" > Add Extras&nbsp;&nbsp;&nbsp;&nbsp;>  </a>
    <a class="tab" data-target="#revieworder" id="menu-op-4" > Review Order&nbsp;&nbsp;&nbsp;&nbsp;> </a>
    <a class="tab" data-target="#address" id="menu-op-5" >Address&nbsp;&nbsp;&nbsp;&nbsp;>  </a>
    <a class="tab" data-target="#paymentconfirmation" id="menu-op-6" >Payment and confirmation</a>
  </div>
</div>
