<div class="cart-card-container">
  <div class="badge badge-green">3</div>
  <div class="cart-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vitalvedaaus.files.wordpress.com/2016/10/olive-oil-wood.jpg')">
    <h2>Olive Oil</h2>

    <a class="card-link" href="#" ></a>
  </div>
</div>
