
<div class="card-container">
  <div class="card-wrapper">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vitalvedaaus.files.wordpress.com/2016/10/olive-oil-wood.jpg')">



      <input type="image"  class="card-user avatar" src="http://wp.production.patheos.com/blogs/thepangeablog/files/2011/12/Kurt-Profile-Image-Square-Brick-1024x1024.jpg" alt="Submit Form" data-toggle="modal" data-target="#myModal" />

    </div>
      <div class="card-product">
        <h2>Olive Oil</h2>
      </div>


      <div class="card-price">
        <h3>$8</h3>
      </div>
  </div>

  <div class="info">
    <p>550g</p>
  </div>

  <div class="quantity">
    <ul class="list-inline">
      <li><h4>-</h4></li>
      <li><h4>2</h4></li>
      <li><h4>+</h4></li>
    </ul>
  </div>

</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img class="avatar-large" src="http://wp.production.patheos.com/blogs/thepangeablog/files/2011/12/Kurt-Profile-Image-Square-Brick-1024x1024.jpg">
        <h1 class="modal-title">Producer Name</h1>
        <h4 class="modal-title">Producer city</h4>
      </div>
      <div class="modal-body">
        <p>Gray, short hair neatly coiffured to reveal a fresh, frowning face. Glistening gray eyes, set charmingly within their sockets, watch cautiously over the farms they've been isolated from for so long.
        A beard beautifully compliments his cheeks and leaves a delightful memory of his past.
        <br><br>
        The is the face of Brock Eustis, a true fortune-hunter among dwarves. He stands common among others, despite his athletic frame.</p>
      </div>

    </div>
  </div>
</div>
