
<div class="card-container">
  <div class="card-wrapper">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://vitalvedaaus.files.wordpress.com/2016/10/olive-oil-wood.jpg')">

      <img class="card-user avatar" src="http://wp.production.patheos.com/blogs/thepangeablog/files/2011/12/Kurt-Profile-Image-Square-Brick-1024x1024.jpg">
      <a class="card-link" href="#" ></a>
    </div>
      <div class="card-product">
        <h2>Olive Oil</h2>
      </div>


      <div class="card-price">
        <h3>$8</h3>
      </div>
  </div>

  <div class="info">
    <p>550g</p>
  </div>

  <div class="quantity">
    <ul class="list-inline">
      <li><h4>-</h4></li>
      <li><h4>2</h4></li>
      <li><h4>+</h4></li>
    </ul>
  </div>

</div>
