<%= form_tag('/order', remote: true, method: :get) do %>
  <%= submit_tag "Go to checkout", id: "submit-btn-checkout", class: "hidden" %>
<% end %>


<div class="cart-footer" id="footer-cart">

  <div class="your-basket">
    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
    <h2>YOUR</h2>
    <h2>BASKET</h2>
  </div>


  <div class="horizontal-scroll">
    <!-- <i class="fa fa-angle-left" aria-hidden="true"></i> -->
    <%= render 'baskets/mini_card', order: @order %>
    <!-- <i class="fa fa-angle-right" aria-hidden="true"></i> -->
  </div>

  <div id="total"><%= render 'extra_orders/total_price' %></div>
</div>
