<% @extra_orders.each do |extra_order| %>
  <li>
    <div class="cart-card-container">
      <div class="badge badge-green"> <%=extra_order.quantity %> </div>
      <div class="cart-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path extra_order.extra.photo, crop: :fill %>')">
        <h2><%= extra_order.extra.name %></h2>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </li>
<% end %>
<li class="plus-sign"><i class="fa fa-plus" aria-hidden="true"></i></li>
