<div class="container select" >
  <h2>Pick the size of your Basket</h2>
  <div class="row" id="basket-size">
    <div class="col-md-4 col-xs-12" id="small-basket">
      <%= image_tag "size-s.png" %>
      <h5>Small</h5>
    </div>
    <div class="col-md-4 col-xs-12" id="regular-basket">
      <%= image_tag "size-m.png" %>
      <h5>Regular</h5>
    </div>
    <div class="col-md-4 col-xs-12" id="big-basket">
      <%= image_tag "size-g.png" %>
      <h5>Big</h5>
    </div>
  </div>
</div>
