<div class="container text-center">
  <div class="select">
    <h2>What do you want in your Basket?</h2>
    <div class="row" id="basket-type">

      <div data-category="vegetables" class="category">
        <div class="col-sm-4 col-xs-12">
          <%= image_tag "vegetables.jpg", class: "hvr-float" %>
          <h4>Vegetables</h4>
        </div>
      </div>

      <div data-category="fruits" class="category">
        <div class="col-sm-4 col-xs-12">
          <%= image_tag "fruits.jpg", class: "hvr-float" %>
          <h4>Fruits</h4>
        </div>
      </div>

      <div data-category="both" class="category">
        <div class="col-sm-4 col-xs-12">
          <%= image_tag "fruitsvegetables.jpg", class: "hvr-float" %>
          <h4>Fruits & Vegetables</h4>
        </div>
      </div>

    </div>
  </div>
</div>
