
  <%= render 'baskets/basket_menu' %>

  <div class="padded text-center">
    <div class="tab-content" id="selectbasket">
      <%= render 'baskets/select' %>
    </div>
    <div class="tab-content hidden" id="picksize">
      <%= render 'baskets/pick_size' %>
    </div>
    <div class="tab-content hidden" id="addextras">
      <div id="basket-add-extras"></div>
      <%#= render 'baskets/add_extras' %>
    </div>
    <div class="tab-content hidden" id="revieworder">
      <div id="basket-review-order"></div>
      <%#= render 'baskets/review', order:  %>
    </div>
    <div class="tab-content" id="address">
    <!-- <div id="basket-address"></div> -->
      <%= render 'baskets/address' %>
    </div>
    <div class="tab-content hidden" id="paymentconfirmation">
      <div id="confirmation-view"></div>
      <%#= render 'baskets/confirmation' %>
    </div>
  </div>
</div>

<div id="cart-area">
  <%# render 'baskets/footer_cart' %>
</div>


