<div class="map_box" style="position: relative">
  <div class="delivery_point text-center title"><%= delivery_point.name %></div>
  <br>
  <div class="delivery_point text-center"><%= delivery_point.address %></div>
  <br>
  <%= link_to "Select this delivery point", "#?delivery_point=#{delivery_point.id}", class: "btn btn-primary", aria_pressed: "true" %>
</div>

