<div class="banner">
  <div class="banner-content text-center">
    <h1>Order once, delivered weekly</h1>
    <p>The best local products selected and delivered directly to you.</p>
    <%= link_to "Build your Basket", new_user_session_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
