.padded-bottom {
  margin-bottom: 120px;
}

.debug {
  border: 1px solid red;

}

.cart-footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    background-color: white;
    -webkit-box-shadow: 0px -20px 37px -30px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -20px 37px -30px rgba(0,0,0,0.2);
    box-shadow: 0px -20px 37px -30px rgba(0,0,0,0.2);
    text-align: initial !important;
    z-index: 2;
}

.your-basket {
  text-align: center;
  color: $dark-yellow;;
  float: left;
  margin-top: 16px;
  width: 10%;
}

.your-basket h2 {
  font-size: 1em;
  font-weight: 700;
  line-height: 0;
  margin-top: 18px;
}

.horizontal-scroll {
  width: 65%;
  overflow-x: auto;
  float: left;
  white-space: nowrap;
}

.horizontal-scroll-review {
  width: 100%;
  overflow-x: auto;
  float: left;
}

.horizontal-scroll li i {
    color: $special-green;
    font-size: 1.2em;
}

.horizontal-scroll li:last-child, .horizontal-scroll-review li:last-child {
  display: none;
}

#total {
  background-color: $dark-yellow;
  float: left;
  height: 100px;
  width: 25%;
  color: white;
}

.price {
  float: left;
  margin-left: 20px;
  margin-top: 24px;
}

.price h3 {
  margin: 0px;
  font-weight: 700;
}

.price p {
  margin: 0px;
  font-size: 0.8em;
  font-weight: 100;
}

.review-order {
  text-align: center;
  float: right;
  margin-right: 36px;
  margin-top: 35px;
  color: $dark-green;
  font-weight: 700;
  font-size: 1.2em;
}

#submit-order {
  text-align: center;
  float: right;
  margin-right: 36px;
  margin-top: 20px;
  color: $dark-green;
  font-weight: 700;
  font-size: 1.2em;
}

.review-order:hover, #submit-order:hover {
  text-decoration: none;
}

#review-footer-button .fa {
  color: white !important;
  float: right;
}

.review-order p {
  margin: 0px;
}

.fa-angle-right {
  float: right;
}

.fa-angle-left {
  float: left;
}

@media screen and (max-width: 878px) {

    #total {
      height: 80px;
      width: 100%;
    }

    .cart-footer {
        height: auto;
        width: 100%;
        background-color: white;
        -webkit-box-shadow: 0px -20px 37px -30px rgba(0,0,0,0.8);
        -moz-box-shadow: 0px -20px 37px -30px rgba(0,0,0,0.8);
        box-shadow: 0px -20px 37px -30px rgba(0,0,0,0.8);
        z-index: 2;
    }

    .your-basket {
      display: none;
    }

    .horizontal-scroll {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }
}

