.logo-checkout {
  margin-top: 20px;
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.filter {
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  height: 50px;
  margin-top: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  display: flex;
  justify-content: center;
}

.filter h4 {
  float: left;
  margin: auto 0px;
  margin-right: 20px;
  font-size: 1em;
  font-weight: 700;
  color: $special-green;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.filter form {
  float: right;
  margin: auto 0px;
  margin-left: 30px;
}

.filter label {
  margin-right: 30px;
  margin-bottom: 0px;
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 0.8em;
}

.card-wrapper {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
  border-radius: 5px;
  height: 240px;
  // width: 300px;
  background-color: #ffffff;
  padding: 10px;
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
}

.card-wrapper:hover, .card-wrapper:focus, .card-wrapper:active {
  box-shadow: inset 0 0 0 4px $light-green, 0 0 1px transparent;
}

.card {
  height: 180px;
  // width: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
}

.card-price {
  background-color: #499491;
  color: #fff;
  height: 30px;
  width: 50px;
  border-radius: 5px;
  text-align: center;
  right: 10px;
  bottom: 10px;
  position: absolute;
}

.card-price h3 {
  font-size: 1em;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  font-weight: 800;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.card-product {
  border-radius: 5px;
  text-align: center;
  left: 14px;
  bottom: 5px;
  position: absolute;
  font-size: 0.8em;
}

.card-product h2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.4em;
  color: #499491;

}

.card-user {
  position: absolute;
  left: 36px;
  top: 48px;
  z-index: 1;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.info {
  float: left;
  margin-left: 14px;
  margin-top: 16px;
}

.info p {
  font-size: 0.8em;
  color: #787878 !important;
}

.quantity {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  text-align: center;
}

.quantity li {
  background-color: $dark-yellow;
  border-radius: 5px;
  width: 26px;
  height: 30px;
}

.quantity li h4 {
  color: #fff;
  font-size: 1em;
}


.cart-card-container {
  position: relative;
  height: 90px;
  width: 120px;
  margin-top: 10px;
}

.cart-card-wrapper {
  position: relative;
  border-radius: 5px;
  height: 90px;
  width: 120px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.30);
}

.cart-card {
  height: 80px;
  width: 120px;
  // width: 100px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  text-align: center;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.cart-card h2 {
  height: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  color: white !important;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0px;
  word-break: break-word;
  white-space: normal;
  // justify-content: center;
}

.review-style h5 {
  font-size: 1.2em;
}

.hvr-border-fade {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;
  /* Hack to improve aliasing on mobile/tablet devices */
}
