.debug {
  border: solid 1px red;
}

#basket-menu {
  font-family: 'Dosis', sans-serif;
  font-size: 11pt;
  text-align: center;
}

.tabs a {
  color: $light-green;
}

.tab {
  margin-right: 10px;
}

.tab.active {
  color: $dark-green;
}

.container {
  padding-top: 20px;
}

.select {
  text-align: center;
}

.select h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: $dark-yellow;
}

.select h5 {
  font-weight: 600;
  color: $dark-green;
  margin: 15px 0;
}

#basket-type {
  padding-top: 50px;

}

#basket-type img {
  vertical-align: middle;
  margin-bottom: 20px;
  border-radius: 50%;
}


#basket-size {
  padding-top: 50px;

}

#basket-size img {
  vertical-align: middle;
  height: 210px;
  margin-bottom: 20px;
}

.fa {
  color: $dark-yellow;
}


// .fa-shopping-basket {
//   color: $dark-yellow;
//   margin: 0 10px;
// }

.cart-card-basket {
  box-shadow: 0 0 5px rgba(0,0,0,0.20);
  border-radius: 100%;
  width: 164px;
}

.cart-card-basket img {
  border-radius: 100px;

}

.review {
  // text-align: left;
  display: block;
}

.row-cart {
  display: inline-flex;

}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.cart-card-extras {
  display: flex;
  justify-content: space-between;
}

.cart-card-producers {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.payment {
  // text-justify: left;

}

.review-extras {
  width: 100px;
  border-radius: 5px;
}

.vertical-aligned {
  position: relative;
  margin-top: 10%;

}

