#basket-menu {
  font-family: 'Dosis', sans-serif;
  font-size: 11pt;
  text-align: center;
}

.tabs a {
  color: #A3DEC9;
}

.tab {
  margin-right: 10px;
}

.tab.active {
  color: #499491;
}

.container {
  padding-top: 30px;
  width: 100%;
  height: 550px;
}

.container#select {
  padding-top: 45px;
  width: 80%;
}
#select h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: #FBD400;
}

#select h5 {
  font-weight: 600;
  color: #499491;
}

#basket-type {
  padding-top: 50px;

}

#basket-type img {
  vertical-align: middle;
  height: 170px;
  margin-bottom: 20px;
  border-radius: 150px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.container#pick-size {
  padding-top: 45px;
  width: 80%;
}

#basket-size {
  padding-top: 50px;

}

#basket-size img {
  vertical-align: middle;
  height: 170px;
  margin-bottom: 20px;
}

#pick-size h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  color: #FBD400;
}

#pick-size h5 {
  font-weight: 600;
  color: #499491;
}
