.review-total {
  background-color: $dark-yellow;
  color: white;
  border-radius: 5px;
  float: right;
  display: inline;
  width:100%;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  margin: 10px;
}

.review-price {
  float: left;
  padding: 5%;
}
